
.align-me {
  margin: 50px;
  text-align: center;
}

.align-img {
  margin: 25px;
  margin-left: 50px;
}

.align-button-header {
  margin: 50px;
  margin-left: 0px;
  
}

.league-img {
  max-width: 200px;
}

/*
Colors
light green: #245334
Blue: #9bd1e7
Dark Green: #214E34
Red: #BF4342
Brown: #A78A7F

*/

header {
  background-color: #245334;
}

#ball {
  max-width: 100px;
  
}

#main-color {
  color: #ffffff;
}

#wrapper {
  background-color: #9bd1e7;
}


.card-margin {
  margin: 50px;
}