
.align-me {
  margin: 50px;
  text-align: center;
}

.align-img {
  margin: 25px;
  margin-left: 50px;
}

/*
Colors
light green: #245334
Blue: #3D5A6C
Dark Green: #214E34
Red: #BF4342
Brown: #A78A7F

*/

header {
  background-color: #245334;
}

#ball {
  max-width: 100px;
  
}

#main-color {
  color: #BF4342;
}